button#default {
  cursor: pointer;
  padding: calc(var(--padding-unit) * 2.5);
  /* margin-bottom: calc(var(--margin-unit) * 2); */
  border-radius: calc(var(--border-radius-unit) * 2);
  font-family: var(--default-font-family);
  font-size: calc(var(--default-font-size) * 2.5);
  font-weight: 300;
}

button.default {
  background-color: var(--button-default-bg-color);
  color: #ffffff;
  width: 100%;
}

button.negative {
  background-color: var(--button-default-negative);
  color: #ffffff;
  width: 100%;
}

button.class,
button.student {
  background-color: var(--button-class-student);
  color: #000000;
  text-align: left;
  width: 100%;
}

button.student {
  width: auto;
  display: block;
}
