input#default {
  font-family: var(--default-font-family);
  font-size: calc(var(--default-font-size) * 3);
  border-bottom: 1px solid #000000;
  font-weight: 300;
  width: 100%;
  padding: calc(var(--padding-unit) * 3.5) 0;
}
