div#classes {
  padding: calc(var(--padding-unit) * 4);
  padding-top: calc(var(--padding-unit) * 32);

  > h1 {
    font-family: var(--default-font-family);
    font-weight: 500;
    font-size: calc(var(--default-font-size) * 5);
    margin-bottom: calc(var(--margin-unit) * 1);
  }

  > div {
    &:last-of-type {
      display: flex;
      gap: calc(var(--margin-unit) * 1);

      > A {
        flex: 1 1;
      }
    }
  }
}
