div#class {
  padding: calc(var(--padding-unit) * 4);
  padding-top: calc(var(--padding-unit) * 12);

  > h1 {
    font-family: var(--default-font-family);
    font-weight: 500;
    font-size: calc(var(--default-font-size) * 5);
    margin-bottom: calc(var(--margin-unit) * 1);
  }

  > p {
    font-family: var(--default-font-family);
    font-size: calc(var(--default-font-size) * 2);
    margin-bottom: calc(var(--margin-unit) * 2);
    color: #666666;
  }

  > h2 {
    font-family: var(--default-font-family);
    font-weight: 500;
    font-size: calc(var(--default-font-size) * 3);
    margin-bottom: calc(var(--margin-unit) * 1);
  }

  > div {
    &:first-of-type {
      margin-bottom: calc(var(--margin-unit) * 24);
      display: flex;
      flex-direction: column;
      gap: calc(var(--margin-unit) * 1);
    }

    &:last-of-type {
      display: flex;
      gap: calc(var(--margin-unit) * 1);
    }
  }
}
