form#joinContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 2rem;
  justify-content: center;
  font-family: var(--default-font-family);

  >#topwrap {
    display: flex;
    align-items: center;

    >svg {
      width: 3.5rem;
      height: 3.5em;
      margin-right: 0.5rem;
      stroke-width: 1;
    }

    >h1 {
      font-size: 2.5rem;
      font-weight: 300;
    }
  }

  >#lowerwrap {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    >input {
      width: 100%;
      border-bottom: 1px solid black;
      font-size: 1.5rem;
      padding: 1.75rem 0;

      &:focus {
        outline: none;
      }
    }
  }
}
