div#account {
  padding: calc(var(--padding-unit) * 4);
  padding-top: calc(var(--padding-unit) * 32);
  display: flex;
  flex-direction: column;

  > A {
    margin-bottom: calc(var(--margin-unit) * 2);
    text-decoration: none;
  }
}
