div#account {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > A {
    width: calc(342 / 412 * 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}
