* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  --button-default-bg-color: #007aff;
  --button-default-text-color: #ffffff;
  --margin-unit: 0.5rem;
  --padding-unit: 0.5rem;
  --border-radius-unit: 0.25rem;
  /* font-family: */
  /*   Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", */
  /*   sans-serif; */
}

/* a { */
/*   margin-right: 1rem; */
/* } */
/**/
/* main { */
/*   text-align: center; */
/*   padding: 1em; */
/*   margin: 0 auto; */
/* } */
/**/
/* h1 { */
/*   color: #335d92; */
/*   text-transform: uppercase; */
/*   font-size: 4rem; */
/*   font-weight: 100; */
/*   line-height: 1.1; */
/*   margin: 4rem auto; */
/*   max-width: 14rem; */
/* } */
/**/
/* p { */
/*   max-width: 14rem; */
/*   margin: 2rem auto; */
/*   line-height: 1.35; */
/* } */
/**/
/* @media (min-width: 480px) { */
/*   h1 { */
/*     max-width: none; */
/*   } */
/**/
/*   p { */
/*     max-width: none; */
/*   } */
/*{ } */
