@font-face {
  src: url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-family: "Roboto";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  src: url("/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-family: "Roboto";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}
